.navbar .dropdown-item:hover {
  background-color: #163bb7 !important;
  color: white !important;
}

.nav-link,
.dropdown-toggle,
.navbar-brand {
  color: white !important;
  font-weight: 500 !important;
}

.home {
  color: white !important;
  font-weight: 500 !important;
  height: 45px !important;
}

.hover-dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.hover-dropdown .dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  margin-top: 0;
  position: absolute;
}

.navbar-first {
  background-color: #163bb7;
}

.navbar-second {
  background-color: #336699;
}

.navbar-brand:hover .icon,
.navbar-brand:hover .label {
  color: #c0eb25; 
}
